 
.CarsInfoContainer{
  overflow: hidden;
}

@media (max-width: 767px) {
  .CarsInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid #fff;
  }   
  .CarsInfoContainer > div{      
    height: 350px;
  }

  .CarsInfoRowInfo{
    order: 2;
  }

  .CarsInfoRowImage{
    order:1;
  }
 
}

@media (min-width: 768px) {
  .CarsInfoContainer {
    border-top: 1px solid #fff;
    width: 100%;
    background-color: rgb(64, 171, 11)1, 1, 108);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
  } 
 
  .CarsInfoContainer > div{     
    flex: 0 50%;
    height: 500px;
    box-sizing: border-box;
  }

  .CarsInfoRowInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;    
}     

 
}

.NotVisible{   
  transform: translateY(100%);
}
.Visible{
  transition: 2s;
  transform: translateY(0);
}  

.ImageVisible:nth-child(2){
  transition: 0.7s;
  transition: translateX(0);    
}
.ImageNotVisible:nth-child(2){
  transform: translateX(100%);
}

.ImageVisible:nth-child(1){
  transition: 0.7s;
  transition: translateX(0);    
}
.ImageNotVisible:nth-child(1){
  transform: translateX(-100%);
}

.CarsInfoRowInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.CarsInfoRowInfo h1{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.2rem;
}
.CarsInfoRowInfo h2{  
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}


.CarsInfoRowInfo h2{
  font-weight: 500;
  font-size: 25px;
 
}

.CarsInfoRowImage{
  overflow: hidden;
}

.CarsInfoImage {
  width: 100%;
  height: 100%;
  transform: scale(1.15);  
}
 