.ButtonBlack {
  background-color: #000;
  color: #fff;
  background-color: rgba(33, 33, 33);
  font-size: 17px;
  min-width: 240px;
  height: 45px;
  display: flex;
  font-weight: 500;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
